<?xml version='1.0' encoding='utf-8'?>
<widget id="com.robertorobson.cordovaremoteupdate" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>CordovaRemoteUpdate</name>
	<description>
		A sample Cordova Remote Update application that can be update by remote files.
	</description>
	<author email="betorobson@gmail.com" href="">
		Roberto Robson
	</author>
	<content src="index.html" />
	<plugin name="cordova-plugin-whitelist" version="1" />

	<allow-navigation href="data:*"/>
	<allow-navigation href="file:*"/>
	<allow-navigation href="file:*"/>
	<allow-navigation href="cdvfile:*"/>
	<allow-navigation href="http://*/*"/>
	<allow-navigation href="https://*/*"/>

	<access origin="*" />

	<access origin="tel:*" launch-external="yes"/>
	<access origin="geo:*" launch-external="yes"/>
	<access origin="mailto:*" launch-external="yes"/>
	<access origin="sms:*" launch-external="yes"/>
	<access origin="market:*" launch-external="yes"/>

	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	
	<platform name="android">
		<allow-intent href="market:*" />
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />
	</platform>

</widget>
